*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #2B2929 url(images/LogoType.png);
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
}

.main-container {
    
}

.logo {
    width: 80px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

form {
    background-color: rgba(23,23,23, .2);
    padding: 90px 80px;
    display: flex;
    flex-direction: column;
    width: 40vw;
}

input:not([type=checkbox]) {
    width: 100%;
    padding: 13px 20px;
    margin-bottom: 15px;
    background: #C6C6C6;
    border: none;
}
input[type=checkbox] {
    margin-right: 10px;
}

.remember-me {
    display: flex;
    align-self: flex-start;
    /* background: #fff; */
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
}

.login-button {
    background: #CCA349 !important;
    color: #fff;
    border: none;
    text-transform: uppercase;
}

label {
    color: #fff;
}